@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee {
    display: flex;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
  }
  .marquee span:nth-child(2) {
    padding-right: 100%;
  }
  @media screen and (max-width: 1200px) { /* Adjusted from 900px to 800px */
    #navLinks {
      display: none;
    }
  }