.waves {
  position:relative;
  width: 100%;
  height: auto;
  margin-bottom:-7px;
  max-height:550px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)  infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: fit-content;
  }
}

.main-text{
  font-family: Arial, Helvetica, sans-serif; 
  background: linear-gradient(to right, rgba(0,50,255,1), rgba(0,100,255 , 1),  rgba(0,200,255,1));
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px black; 
  text-stroke: 1px black;
}